.starsRating {
    display: flex;
    gap:5px;
    width: auto;

    .star {
        font-size: 1em;
    }

    .redstar {
        color: #FF6060;
    }

    .greystar {
        color: #E3E3E3;
    }
}

@media screen and (min-width: 634px) {
    .starsRating {
        gap:8px;

        .star {
            font-size: 1.2em;
        }
    }


}