.starsRating {
    display: flex;
    gap:5px;
    width: auto;

    .star {
        font-size: 2em;
    }

    .redstar {
        color: #FF6060;
    }

    .greystar {
        color: #E3E3E3;
    }
}