@keyframes iconRot{
    0% {
        transform: rotate(0deg);
    }
 
    100% {
        transform: rotate(180deg);
    }
}

@keyframes iconRotBack{
    0% {
        transform: rotate(180deg);
    }
 
    100% {
        transform: rotate(0deg);
    }
}

@keyframes deployText{
    0% {
        transform: translateY(-15%);
        transform-origin:top;
        visibility: hidden;
    }

    100% {
        transform: translateY(0%);
        
    }
}

@keyframes deployBackText{
    0% {
        transform: translateY(0%);
        transform-origin:bottom;
        
    }
          
       100% {
        transform: translateY(-15%);
        visibility: hidden;
        
    }
}

@keyframes deployContainer{
    0% {
        transform: translateY(-15%);
        transform-origin:top;
        visibility: hidden;
    }

    100% {
        transform: translateY(0%);
        display: flex;
    }
}

@keyframes deployBackContianer{
    0% {
        transform: translateY(0%);
        transform-origin:bottom;
        
    }
          
       100% {
        transform: translateY(-15%);
        visibility: hidden;
        height: 0vh;
    }
}

.display_collaps {
    display: flex;
    flex-direction: column;
    width: 80%;
            
    .collaps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        min-height: 4vh;
        background-color: #FF6060;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        z-index: 8;
                                
        .title {
            color: white;
            font-weight: 700;
            font-size: 1rem;
        }

        .icon {
            cursor: pointer;
            font-weight: 700;
            color: white;
            font-size: 1rem;
        }
        .iconAnim{
            animation: iconRot 0.5s ease-in-out forwards;
        }

        .iconBackAnim{
            animation: iconRotBack 0.5s ease-in-out forwards;              
        }

    }

    .displayOn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        min-height: 10vh;
        background-color: #F6F6F6;
        border-radius: 5px;
        animation: deployContainer 0.3s linear forwards;
        .descript {
            padding: 20px;
            font-size: 1rem;
            font-weight: 400;
            animation: deployText 0.3s linear forwards;
        }
    }

    .displayOff{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-color:#F6F6F6;
        border-radius: 5px;
        animation: deployBackContianer 0.4s linear forwards;
        z-index: 1;
        .descript {
            padding: 20px;
            font-size: 1rem;
            font-weight: 400;
            animation: deployBackText 0.3s linear forwards;
        }
    }
}