@keyframes iconRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes iconRotBack {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes deployContainer {
  from {
    max-height: 0;
  }
  to {
    max-height: 300px;
  }
}
@keyframes deployBackContianer {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0;
  }
}
@keyframes deployText {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes deployBackText {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
.display_collaps {
  display: flex;
  flex-direction: column;
}
.display_collaps .collaps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 4vh;
  background-color: #FF6060;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  z-index: 8;
}
.display_collaps .collaps .title {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.display_collaps .collaps .icon {
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: 1rem;
}
.display_collaps .collaps .iconAnim {
  animation: iconRot 0.5s ease-in-out forwards;
}
.display_collaps .collaps .iconBackAnim {
  animation: iconRotBack 0.5s ease-in-out forwards;
}
.display_collaps .displayOn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  background-color: #F6F6F6;
  border-radius: 5px;
  animation: deployContainer 0.5s ease-in-out forwards;
  overflow: hidden;
}
.display_collaps .displayOn .descript {
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  animation: deployText 0.5s ease-in-out forwards;
  overflow: hidden;
}
.display_collaps .displayOff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: #F6F6F6;
  border-radius: 5px;
  animation: deployBackContianer 0.5s ease-in-out forwards;
  overflow: hidden;
}
.display_collaps .displayOff .descript {
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  animation: deployBackText 0.5s ease-in-out forwards;
  overflow: hidden;
}

.display_collapsLog {
  display: flex;
  flex-direction: column;
}
.display_collapsLog .collapsLog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 4vh;
  background-color: #FF6060;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  z-index: 8;
}
.display_collapsLog .collapsLog .title {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.display_collapsLog .collapsLog .icon {
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: 1rem;
}
.display_collapsLog .collapsLog .iconAnim {
  animation: iconRot 0.5s ease-in-out forwards;
}
.display_collapsLog .collapsLog .iconBackAnim {
  animation: iconRotBack 0.5s ease-in-out forwards;
}
.display_collapsLog .displayOn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: auto;
  min-height: 10vh;
  background-color: #F6F6F6;
  border-radius: 5px;
  animation: deployContainer 0.5s ease-in-out forwards;
  overflow: hidden;
}
.display_collapsLog .displayOn .contDescriptLog {
  padding: 20px;
}
.display_collapsLog .displayOn .contDescriptLog .descriptLog {
  font-size: 1rem;
  font-weight: 400;
  animation: deployText 0.5s ease-in-out forwards;
  overflow: hidden;
}
.display_collapsLog .displayOff {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  background-color: #F6F6F6;
  border-radius: 5px;
  animation: deployBackContianer 0.5s ease-in-out forwards;
  overflow: hidden;
}
.display_collapsLog .displayOff .contDescriptLog {
  padding: 20px;
}
.display_collapsLog .displayOff .contDescriptLog .descriptLog {
  font-size: 1rem;
  font-weight: 400;
  animation: deployBackText 0.5s ease-in-out forwards;
  overflow: hidden;
}

@media screen and (min-width: 634px) {
  .display_collaps {
    display: flex;
    width: 80%;
  }
  .display_collapsLog {
    display: flex;
    width: 50%;
  }
  .display_collapsLog .collapsLog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    background-color: #FF6060;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    z-index: 8;
  }
  .display_collapsLog .collapsLog .icon {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=displaycollaps.module.css.map */