.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    
    .tag {
        height: auto;
        padding: 5px 30px 5px 30px;
        border-radius: 15px;
        background-color: #FF6060;
        color: white;
     
    }
}