.host {
    display: flex;
    justify-content: right;
    align-items: center;

    .hostPhContainer {
        width: 5vh;
        height: 5vh;
        border-radius: 100px;
        background-color: #FF6060;
        margin: 10px;

        .hostPh {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 100px;
        }
    }

    .hostName {
        font-size: 1em;
        color: #FF6060;
    }
}