.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;

    .menu {
        display: flex;
        list-style-type: none;
        gap: 1rem;

       
        .menu_link {
            text-decoration-line: none;
            color: black;
            font-size: 1.2rem;

            &:hover {
                text-decoration-line: underline;
            }
                       
        }
    }
}

@media screen and (min-width: 634px){
    .nav_bar {
        margin: 2em 3em 2em 3em;
    }
}