@import "src/components/Banner/banner.module.scss";
@import "src/components/Bg-paragraph/bg-paragraph.module.scss";
@import "src/components/Card/card.module.scss";
@import "src/components/Footer/footer.module.scss";
@import "src/components/itemsContainer/itemsContainer.module.scss";
@import "src/components/NavBar/navBar.module.scss";
@import "src/pages/Home/style.module.scss";

*{
    $mainColor: #FF6060;
    $bgItemsColor: #F6F6F6;
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
}