.item_list_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
   /* .linksLogements{
        &:nth-child(n+4) {
            display: none;
            // Ocultar las imágenes a partir de la séptima 
        }
    }*/
}

@media screen and (min-width: 480px) {
    .item_list_container {
        background-color: #F6F6F6;
        padding: 5vw;
        gap: 5vw;
        border-radius: 25px;
    }
}

/*@media screen and (min-width: 900px) {
    .item_list_container {
        .linksLogements {
            &:nth-child(-n+6) {
                display: block;
            }
        }
    }
}*/