.item_list_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}

@media screen and (min-width: 480px) {
    .item_list_container {
        background-color: #F6F6F6;
        padding: 5vw;
        gap: 5vw;
        border-radius: 25px;
    }
}